<base href="https://mohamedkassem.club/krira/CornamMetals/Home">

<div class="alllogos">
<div class="logo">
    <div class="sspan">
<span>C</span>
<span>O</span>
<span>R</span>
<span>N</span>
<span>A</span>
<span>M</span>
</div>
<div class="stone-blocks">
    <div class="stone-block small"></div>
    <div class="stone-block medium"></div>
    <div class="stone-block large"></div>
    <span>M</span>
    <span>E</span>
    <span>T</span> 
    <span>A</span>
    <span>L</span>
    <span>S</span>
  </div>

</div>
</div>
<section>
  <div class="unvis sec2 .sec2-2">
   <div class="sec2-info">STAINLESS STEEL AND METALS TRADING</div>
  </div>
 
 </section>
 <div class="unvis sec3 griditem">
  <div class="griditem-inner">
    <div class="griditem-front">
      <h2>EXCELLENCE IN SCRAP</h2>
    </div>
    <div class="griditem-back">
      <div>
        <h3>Cornam Metals</h3>
        <p>At Cornam Metals, integrity and honesty are at the heart of everything we do. With over 35 years of experience, our family-owned business proudly serves our customers. We believe that customer satisfaction is key to our success, and we are dedicated to providing exceptional service every day.</p>
      </div>
    </div>
</div>    
 </div>
    <div class=" sec4">

    <div class="ffall sec4-1">
     <h2> 35+</h2><br>
     <p>Years of expertise in stainless steel recycling

     </p>
    </div>
    <div  class="ffall sec4-logo">
    </div>
    <div class="ffall sec4-2">
      <h2> 2</h2><br>
      <p> Locations equipped for safety and quality assurance

      </p>
    </div>
    <div class="ffall sec4-3">
      <h2> 24/7      </h2><br>
      <p>Round-the-clock support for our valued customers
      </p>
    </div>
    </div>
    

    <div class=" sec5">

      <div class="ffall sec5-1">
       <h2> Stainless steel scrap</h2><br>
       <p>We provide high-quality stainless steel scrap, carefully sorted and ready for recycling to meet your needs
  
       </p>
      </div>
      <div class="ffall sec5-title"><p> services </p></div>
      <div class="ffall sec5-2">
        <h2> Nickel scrap</h2><br>
        <p> We provide high quality nickel scrap from pure nickel to various special nickel alloys


  
        </p>
      </div>
      <div class="ffall sec5-3">
        <h2>Global export</h2><br>
        <p>We export scrap all around the globe
          <br><br><br>
        </p>
      </div>
      </div>

<div class="sec6">
<div class="sec6-info">
  GLOBAL EXPORT

</div>
</div>
